* {
    font: arial
}

table, th, td {
    border: 1px solid;
  }

th {
  background-color: skyblue;
  color: coral;
}

h2 {
    color: coral;
    text-align: center;
  }

h3 {
    font-size: 14px;
    text-align: center;
  }

h4 {
    color: black;
    text-align: left;
  }

.container {
  display: flex;
}

.left-column, .right-column {
  flex: 1; 
}

.text {
  text-align: left;
  color: coral;
  font: Trebuchet MS;
}

img {
  width: 100%;
  height: auto;
}

.decoration {
  display: flex;
  justify-content: space-evenly;
    
}

svg {
  margin: 0 auto; 
}

rect:hover {
  fill: black; 
}

circle:hover {
  stroke: orange;
  stroke-width: 4;
}